

$gray: #464646 !default;
$red: #eb4827 !default;
$blue: #214975 !default;
$white: #fff !default;
$black: #000 !default;
$darkblue: #17385c !default;
$lightblue: #e8ecf1 !default;

$menuHoverBG: #d4dbe4 !default;

$pt-sans: 'PT Sans', sans-serif !default;

$imagedir: '../images';


// Screen Breakpoints
$mobile: 320px;
$mobile-m: 480px;
$mobile-l: 640px;
$tablet: 768px;
$tablet-m: 980px;
$tablet-l: 1024px;
$desktop: 1140px;
$desktop-m: 1440px;
$desktop-l: 1680px;


$baseFontSize:15px;
$baseFontFamily: $pt-sans;
$baseLineHeight:normal;
$baseFontColor: $gray;
$basefontWeight: normal;
