%btn , .btn{
	@include border-radius(20px);
	@include transition(all .4s ease-in-out);
	font-family: $pt-sans;
	font-size: 16px;
	border: 1px solid $green;;
	display: inline-block;
	padding:8px 30px;
	text-decoration: none;
	cursor: pointer;
	color:$white;
	background: $green;
	text-align: center;
	min-width:170px;
	&:hover, &:focus{
		text-decoration: none;
		background:lighten($green , 5%);
	}
	&:active, &:link{
		text-decoration: none;
		background:darken($green , 5%);
	}
	&.secondary{
		border-color:$blue;
		background-color: $blue;
		color: $white;
		&:hover, &:focus{
			background-color: $darkblue;
		}
		&:active, &:link{
			background-color: $blue;
		}
	}
	&.transbtn{
		background:none;
		color:$green;
		&:hover{
			background:$green;
			color:$white;
		}
	}
	&.transbtn-secondary{
		background:none;
		color:$blue;
		border-color:$blue;
		&:hover{
			background:$blue;
			color:$white;
		}
	}
	&.medium{
		padding:5px 15px;
		font-size:15px;
	}
}
