// components
body{
  font-family:$baseFontFamily;
  font-size: $baseFontSize;
  color: $baseFontColor;
  line-height:$baseLineHeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.bodyhidden{
    overflow:hidden;
  }
}
a{
  outline:none;
  color:$blue;
  &:active , &:visited , &:link , &:focus{
    outline:none;
  }
}
img{
  max-width:100%;
}
ul{
	list-style:none;
  padding:0;
  margin:0;
}
b , strong{
    font-weight:700;
    font-family:$baseFontFamily;
}
em , i{
    font-family:$baseFontFamily;
    font-style:italic;
}
:focus {
  outline:none;
}
.container {
    @include clearfix;
    padding:0 15px;
    @include screen(tablet) {
        padding:0 20px;
    }
    @include screen(desktop-l) {
       padding:0 30px;
    }
}
.hide-on-mobile{
  display:none;
  @include screen(tablet) {
    display: block;
  }
}
.hide-on-desktop{
  display: block;
  @include screen(tablet) {
    display: none;
  }
}
.hide{
  display:none;
}
.error{
  color:$red;
  font-size:13px;
  padding:10px 0;
  clear:both;
  @include screen(tablet) {
      font-size:15px;
  }
}
.errorinput{
  color:$red !important;
  border-color:$red !important;
}

%default-copy, .default-copy{
  font-size: 17px;
  line-height: 28px;
  font-family: 'PT Serif', serif;
  color: $gray; 
  letter-spacing: 0.028em;

  @include screen(mobile-max) {
    font-size: 15px;
    line-height: 21px;
  }
  strong {
    font-weight: 700;

    em {
      font-weight: 700;
    }
  }
  em {
    strong {
      font-weight: 700;
    }
  }
  p {
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.03em;
    font-family: 'PT Serif', serif;
    margin-bottom: 30px;

    @include screen(mobile-max) {
      font-size: 15px;
      line-height: 21px;
      margin-bottom: 20px;
    }
  }
  ul, ol {
    margin: 0 0 30px;
    padding: 0;
    text-align: left;
    @include screen(mobile-max) {
      margin-bottom: 25px;
    }
  }
  li {
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
    position: relative;
    margin-bottom: 8px;

    @include screen(mobile-max) {
      font-size: 15px;
      line-height: 21px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul {
    li {
      padding-left: 18px;

      @include screen(mobile-max) {
        padding-left: 14px;
      }
      &:before {
        content: '';
        display: inline-block;
        background-color: $blue;
        @include border-radius(50%);
        height: 6px;
        width: 6px;
        position: absolute;
        left: 1px;
        top: 12px;

        @include screen(mobile-max) {
          height: 4px;
          width: 4px;
          left: 3px;
          top: 8px;
        }
      }
    }
  }
  ol {
    counter-reset: item;

    li {
      position: relative;
      padding-left: 25px;

      @include screen(mobile-max) {
        padding-left: 20px;
      }
      &:before {
        content: counter(item) ". ";
        counter-increment: item;
        color: $blue;
        position: absolute;
        left: 3px;
        top: 0;
        font-weight: 600;
        @include screen(mobile-max) {
          left: 3px;
          top: 1px;
          font-size: 13px;
        }
      }
      &:nth-child(n+10) {
        padding-left: 35px;

        @include screen(mobile-max) {
          padding-left: 25px;
        }
      }
    }
  }
  blockquote{
    p{
      font-style: italic;
    }
  }
  h1{
    font-size: 42px;
    line-height: 56px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    @include screen(mobile-max) {
      font-size: 34px;
      line-height: 40px;
    }
  }
  h2{
    font-size: 32px;
    line-height: 40px;
    font-family: $pt-sans;
    font-weight: 400;
    @include screen(mobile-max) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  h3{
    font-size: 24px;
    line-height: 32px;
    font-family: $pt-sans;
    font-weight: 600;
    @include screen(mobile-max) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  h4{
    font-size: 22px;
    line-height: 28px;
    font-family: $pt-sans;
    font-weight: 400;
    @include screen(mobile-max) {
      font-size: 18px;
      line-height: 24px;
    }
  }
  h5{
    font-size: 18px;
    line-height: 28px;
    font-family: $pt-sans;
    font-weight: 600;
    @include screen(mobile-max) {
      font-size: 15px;
      line-height: 21px;
    }
  }
  h6{
    font-size: 13px;
    line-height: 16px;
    font-family: $pt-sans;
    font-weight: 400;
    @include screen(mobile-max) {
      font-size: 12px;
    }
  }
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}

